
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
    --green:"427F47";
    --lightgreen:"76B972";
    --yellow:"F4B344";
    --purple:"7F427A";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.feature > h2{
    color: white;
    font-family: "Quicksand", sans-serif;
}

.feature > p{
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 2;
}

.feature-title{
    text-align: center;
    color: #7F427A;
    font-family: "Quicksand", sans-serif;
    font-size: 4rem;
    margin: 2vh;
    
}

.feature-container{
    width: 100vw;
    height: auto;
    background-image: url(../images/featuresbackground.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    margin-top: 10vh;
}

.feature{
    background-color: rgba(110, 109, 104, 0.5);
    margin: 5vh 0;
    /* padding: 20px; */
}

.feature1{
    margin: 0 0 5vh;
}

.feature > h2{
    padding: 5px 30px;
    font-size: 2rem;
}

.feature > p{
    padding: 20px 30px;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

@media screen and (min-width: 1140px){
    
    .feature-title{
        font-size:4rem;
        margin-top: 4vh;
    }

    .feature{
        height: 60vh;
        width: 80%;
        margin: 5vh auto;
        display: flex;
        flex-flow: column wrap;
        border-radius: 25px;
    }
    
    .feature > h2{
        padding: 3vh 3vh 0;
        font-size: 3rem;
    }
    
    .feature > p{
        font-size: 1.3rem;
        width: 60%;
    }

    .feature > div{
        height: 100%;
        width: 40%;
        background-size: cover;
    }

    .feature1 > div{
        background-image: url(../images/soap.jpeg);
        border-radius: 25px 0 0 25px;
    }
    .feature2 > div{
        background-image: url(../images/charge.jpeg);
        border-radius: 0 25px 25px 0;
    }
    .feature3 > div{
        background-image: url(../images/light.jpeg);
        border-radius: 25px 0 0 25px;
    }
    .feature4 > div{
        background-image: url(../images/scrape.jpeg);
        border-radius: 0 25px 25px 0;
    }


}