*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container, .slider-slides, .slider-img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }

.slider-slides{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}

.slider-img{
  max-width: 40vw;
  max-height: 40vh;
  width: auto;
  height: auto;
}

  