@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
}

header {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    color: #427F47;
    background-color: #f4b344;
    padding: 5px;
}

.header-text-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center

}

#header-gap {
    width: 20px;
}

